html
{
	height: 100%;
}
.navbar
{
	background-color:#3F3F3F;
}
#nazad
{
	margin-left: 8px;
	margin-top: 8px;
}
#preporuci
{
	margin-right: 8px;
	margin-top: 8px;
	float: right;
}
#btn_dodaj
{
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}
h1
{
	color: black;
	font-family: 'Fredoka One', cursive;
	font-size: 50px;
}
.container
{
	margin-top: 15vh;
	
}
#info
{
	display: inline-block;
	margin-left: 20px;
	width: 600px;
	margin-top: 10px !important;
}
p
{
	font-size: 18px;
}
span
{
	font-weight: bold;
}
#slika
{
	display: inline-flex;
	margin-top: 5vh;
}
img
{
	width: 300px;
	height: 400px;
}
select
{
	max-width: 160px;
}



/*CSS ZA TABLICU OCJENE*/
#theadOcjene, #tbodyOcjene
{
	display: block;
	width: 100%!important;
}

#thOcjene, #tdOcjene
{
	width: 44.25%!important;
}

#theadOcjene
{
	color: white;
	background-color: #3F3F3F;
}

#mojaTablicaOcjena
{
	margin-top: 20px;
	width: 50%;
	margin-left: 28%;
}
/*-------------------------------------*/

thead tr
{
	display: block;
	width: 100%;
}
tbody
{
	display: block;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
}
td, th
{
	width: 35%!important;
}
#slikaKorisnika
{
	width: 30px;
	height: 30px;
	padding: 0;
	border-radius: 30px;
}
#odznaciKorisnike
{
	display: none;
}
.modal-header
{
	border-radius: 5px;
}
.modal-body
{
	border-radius: 10px;
}
thead
{
	border-radius: 5px;
}
.table
{
	border-radius: 15px;
}
.ocjenaButtons
{
	font-weight: bold;
	color: black;
	width: 18%;
}
.ocjenaButtons:hover
{
	background-color: grey;
	color: white;
}
.ocjenaButtons:focus
{
	background-color: #003049;
	color: white;
	outline: none;
}