<div id="table-scroll" >
	<table class="table table-hover" id="mojaTablica">
		<thead>
			<tr>
				<th>R.br.</th>
				<th>Naziv filma</th>
				<th>Godina</th>
				<th>Žanr</th>
				<th>Ocjena</th>
				<th>Pregled</th>
				<th>Obriši</th>
			</tr>
		</thead>
			
		<tbody>
			<tr ng-repeat="oFilm in oFilmovi | filter: inputTekst">
				<td>{{$index + 1}}.</td>
				<td class="tdPolje">{{oFilm.naziv_filma}}</td>
				<td class="tdPolje">{{oFilm.godina}}.</td>
				<td class="tdPolje">{{oFilm.zanr}}</td>
				<td class="tdPolje">{{oFilm.moja_ocjena}}</td>	
				<td class="tdPolje"><a href="templates/prikaz_filma_temp.php" class="btn btn-default glyphicon glyphicon-search" aria-hidden="true" role="button" ng-click="dohvatiID(oFilm.film_id)"></a></td>
				<td class="tdPolje"><a href="javascript:GetModal('modals.php?modal_id=obrisi_film&film_id='+localStorage.getItem('film_id'));" class="btn btn-danger glyphicon glyphicon-trash" role="button" ng-click="dohvatiID(oFilm.film_id)"></a></td>
			</tr>
		</tbody>

	</table>
</div>