<div id="table-scroll">
	<table class="table table-hover" id="mojaTablicaOcjena">
		<thead id="theadOcjene">
			<tr>
				<th id="thOcjene">R.br.</th>
				<th id="thOcjene">Ocjena</th>
				<th id="thOcjene">Datum</th>
			</tr>
		</thead>
			
		<tbody id="tbodyOcjene">
			<tr ng-repeat="oOcjena in oOcjeneFilma | filter: inputTekst">
				<td id="tdOcjene">{{$index + 1}}.</td>
				<td id="tdOcjene">{{oOcjena.ocjena}}</td>
				<td id="tdOcjene">{{oOcjena.datum}}</td>	
			</tr>
		</tbody>

	</table>
</div>